* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: #e6f2ff;
    display: flex;
    justify-content: center;
    align-items: center;
}


.container {
    background-color: #e6f2ff;
    padding: 30px 40px;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    width: 500px;
    text-align: center;
}


h2, h3 {
    color: #2c3e50;
    margin-bottom: 20px;
}


form {
    text-align: left;
    margin-top: 20px;
}

form label {
    font-weight: bold;
    margin-bottom: 6px;
    display: block;
}

form input[type="text"],
form input[type="number"],
form input[type="date"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 6px;
    margin-bottom: 15px;
}


button {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #2980b9;
}

.success {
    color: green;
    margin-top: 15px;
}

.error {
    color: red;
    margin-top: 15px;
}

.info {
    color: blue;
    margin-top: 15px;
}
